/*
  Style for page Category and Tag
*/

.dash {
<<<<<<< HEAD
  margin: 0 .5rem .6rem .5rem;
=======
  margin: 0 0.5rem 0.6rem 0.5rem;
>>>>>>> 684f32b1f4d74433fccc767095b153fc618db864
  border-bottom: 2px dotted var(--dash-color);
}

#page-category,
#page-tag {
  ul > li {
    line-height: 1.5rem;
    padding: 0.6rem 0;

<<<<<<< HEAD
    &::before { // dot
      background: #999;
=======
    &::before { /* dot */
      background: #999999;
>>>>>>> 684f32b1f4d74433fccc767095b153fc618db864
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: block;
      content: "";
      position: relative;
      top: 0.6rem;
      margin-right: 0.5rem;
    }

    > a { /* post's title */
      @extend %no-bottom-border;

      font-size: 1.1rem;
    }

    > span:last-child {
      white-space: nowrap;
    } /* post's date */
  }
}

<<<<<<< HEAD
#page-tag h1 > i { // tag icon
=======
#page-tag h1 > i { /* tag icon */
>>>>>>> 684f32b1f4d74433fccc767095b153fc618db864
  font-size: 1.2rem;
}

#page-category h1 > i {
  font-size: 1.25rem;
}

#page-category,
#page-tag,
#access-lastmod {
  a:hover {
    @extend %link-hover;

<<<<<<< HEAD
    margin-bottom: -1px; // Avoid jumping
=======
    margin-bottom: -1px; /* Avoid jumping */
>>>>>>> 684f32b1f4d74433fccc767095b153fc618db864
  }
}

@media all and (max-width: 576px) {
  #page-category,
  #page-tag {
    ul > li {
      &::before {
<<<<<<< HEAD
        margin: 0 .5rem;
      }
=======
        margin: 0 0.5rem;
      }

>>>>>>> 684f32b1f4d74433fccc767095b153fc618db864
      > a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
